<!--<html>
	<head>
		<title>PressPlay</title>
	</head>
	<body>
		<h1>Index</h1>
		
		<form action="{% url 'hangouts:playlist' %}" method="post">
			{% csrf_token %}
			User 1: <input name="user_name1" id="user_name1" type="text" /> <br />
			User 2: <input name="user_name2" id="user_name2" type="text" /> <br />
			User 3: <input name="user_name3" id="user_name3" type="text" /> <br />
			<input type="submit" name="Play" />
		</form>
	</body>
</html> -->

<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>PressPlay</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="{% static 'hangouts/css/bootstrap.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'hangouts/css/bootstrap-theme.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <script>
    var counter = 2;
    var limit = 10;
    function addInput(divName){
      if (counter == limit)  {
        alert("You have reached the limit of adding " + counter + " inputs");
      }
      else {
        var newdiv = document.createElement('div')

        newdiv.innerHTML += "<input type='text' class='form-control' placeholder='username' name='user_name" + counter + "'>"
        counter++;
        document.getElementById(divName).appendChild(newdiv);
     }
  }
  </script>
  </head>

<body style="background-image:url('https://24.media.tumblr.com/3a2411f858088deafbca57552723e460/tumblr_mvyrk1GQrT1r2lw7ro1_1280.jpg');">  
  <h1>Press Play</h1>
  <fieldset>
  <form class="form-signin" role="form" action="{% url 'hangouts:playlist' %}" method="post">	
    {% csrf_token %}
    <div style="text-align:center">
      <div id="dynamicInput">
        <h2 class="form-signin-heading">Please add a Soundcloud username</h2>
        <div id="dynamicInput">
          <input type="text" class="form-control" placeholder="username" name="user_name1" required autofocus>
        </div>
      </div>
      <button class="btn btn-lg btn-primary" onClick="addInput('dynamicInput')">Add another user.</button>
      <button class="btn btn-lg btn-primary" type="submit" id="submit">Hang out</button>
    </div>
  </form>
  </fieldset>

  </body>
</html>
