<!--<html>
	<head>
		<title>PressPlay</title>
	</head>
	<body>
		<h1>Index</h1>
		
		<form action="{% url 'hangouts:playlist' %}" method="post">
			{% csrf_token %}
			User 1: <input name="user_name1" id="user_name1" type="text" /> <br />
			User 2: <input name="user_name2" id="user_name2" type="text" /> <br />
			User 3: <input name="user_name3" id="user_name3" type="text" /> <br />
			<input type="submit" name="Play" />
		</form>
	</body>
</html> -->


<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>PressPlay</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="{% static 'bootstrap.min.css%}" rel="stylesheet">
    <link type="text/css" href="{% static 'bootstrap.css%}" rel="stylesheet">
    <link type="text/css" href="{% static 'bootstrap-theme.min.css%}" rel="stylesheet">
    <link type="text/css" href="{% static 'bootstrap-theme.css%}" rel="stylesheet">
    <link type="text/css" href="{% static 'bootstrap.css.map%}" rel="stylesheet">
    <link type="text/css" href="{% static 'bootstrap-theme.css.map%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
   

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

    	<h1>My First JavaScript</h1>

<p id="demo" 	color:red;
text-align:right;
font-size:20pt;>

JavaScript can change the content of an HTML element.
</p>

<script>
function myFunction()
{
x=document.getElementById("demo");  // Find the element
x.innerHTML="Hello JavaScript!";    // Change the content
}
</script>

<button type="button" onclick="myFunction()">Click Me!</button>

      <form class="form-signin" role="form" action="{% url 'hangouts:playlist' %}" method="post">
        <h2 class="form-signin-heading">Please add a Soundcloud username</h2>
        {% csrf_token %}
        <input type="text" class="form-control" placeholder="username" required autofocus>
        <input type="text" class="form-control" placeholder="username" >
        <input type="text" class="form-control" placeholder="username" >
        <button class="btn btn-lg btn-primary btn-block" type="submit">Hang out</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
